{% extends 'admin_base.html.twig' %}

{% block title %}Elèves
{% endblock %}

{% block content %}
    <section class="uk-section uk-section-default">
        <div class="uk-container">
            <h1>Liste des élèves</h1>

            <table class="uk-table">
                <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Nom</th>
                        <th>age</th>
                        <th>Responsable</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Mobile</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        <tr>
                            <td><img class="uk-border-circle" data-src="{{member.image}}" width="60px" alt="{{member.imageCaption}}" uk-img></td>
                            <td>
                                <p>{{ member.userFullName }}</p>
                            </td>
                            <td>
                                <p>{{ member.older }}
                                    ans</p>
                            </td>
                            <td>
                                <p>{{ member.fullName }}</p>
                            </td>
                            <td>
                                <p class="uk-text-small">{{ member.email }}</p>
                            </td>
                            <td>
                                <p class="uk-text-small">{{ member.phoneNumber|formatPhone(member.phoneNumber) }}</p>
                            </td>
                            <td>
                                <p class="uk-text-small">{{ member.mobileNumber|formatPhone(member.mobileNumber) }}</p>
                            </td>


                            <td>
                                <a class="uk-button uk-button-link" href="{{ path('member_edit', {'id': member.id}) }}" uk-icon="icon:file-edit"></a>
                                <a href="#delete-confirm" uk-toggle>
                                    <span uk-icon="icon: trash"></span>
                                </a>
                                {{ include('member/_delete_form.html.twig')}}

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="17">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('member_new') }}">Create new</a>
        </div>

    </section>

{% endblock %}
