{% extends 'admin_base.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block content %}
    <section
        class="uk-section">
        <!-- breadCrumb -->
        <div class="uk-container uk-margin">
            <ul class="uk-breadcrumb">
                <li>
                    <a href="{{path('home')}}">Home</a>
                </li>
                <li>
                    <a href="{{ path('category_index')}}">catégorie</a>
                </li>
                <li>
                    <p>Catégorie :<em>{{category.name}}</em>- modifier
                    </p>
                </li>
            </ul>
        </div>
        <!-- fin de breadcrumb -->
        <div class="uk-container uk-margin">

            <h1>Modifier la catégorie</h1>

            {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}
            <div class="uk-grid-small uk-margin uk-grid-divider" uk-grid>
                <a class="uk-button uk-button-text" href="{{ path('category_index') }}">retour à la liste</a>
                <a href="#delete-confirm" uk-toggle>
                    <span uk-icon="icon: trash"></span>
                </a>

            </div>

        </div>
        {{ include('category/_delete_form.html.twig') }}
    </section>
{% endblock %}
