{% extends 'admin_base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block content %}
    <section class="uk-section">
        <div class="uk-container">
            <h1>Liste des categories d'article</h1>
            <a class="uk-button uk-button-primary" href="{{ path('category_new') }}" uk-tooltip="title: Ajouter une catégorie d'article">Ajouter</a>
            <table class="uk-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Code couleur</th>
                        <th>aperçu de la Couleur</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.colorName }}</td>
                            <td>
                                <div id="cadre" style="background-color:{{category.colorName}}"></div>
                            </td>
                            <td>
                                <div class="uk-grid-small uk-grid-divider" uk-grid>
                                    <a class="uk-button uk-button-link" href="{{ path('category_edit', {'id': category.id}) }}" uk-icon="icon: file-edit" uk-tooltip="title: modifier la couleur"></a>
                                    <a href="#delete-confirm" uk-toggle>
                                        <span uk-icon="icon: trash" uk-tooltip="title: supprimer la couleur"></span>
                                    </a>
                                    {{ include('category/_delete_form.html.twig')}}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </section>

{% endblock %}
