{{ form_start(form) }}

<form action="" enctype="multipart/form-data" method="post">
    <div class="uk-grid-small uk-grdid-divider" uk-grid>
        <div>
            <img data-src="{{asset('img/uploads/' ~ dance.image)}}" alt="{{dance.imageCaption}}" width="250" uk-img>
        </div>
        <div>
            <label class="uk-form-label">
                Image de Couverture</label>
            {{form_widget(form.imageFile)}}
            <div class="uk-fom-danger">{{form_errors(form.imageFile)}}</div>
        </div>
        <div>
            <label class="uk-form-label">
                Description de l'image</label>
            {{form_widget(form.imageCaption)}}
            <div class="uk-fom-danger">{{form_errors(form.imageCaption)}}</div>
        </div>
    </div>

    <div class="uk-width-1-1">
        <label class="uk-form-label">Titre</label>
        {{form_widget(form.title)}}
        <div class="uk-form-danger">{{form_errors(form.title)}}</div>
    </div>
    <div class="uk-width-1-1">
        <label class="uk-form-label" for="">description</label>
        {{form_widget(form.subTitle)}}
        <div class="uk-form-danger">{{form_errors(form.subTitle)}}</div>
    </div>
    <div class="uk-width-1-1">
        <label class="uk-form-label" for="">Contenu</label>
        {{form_widget(form.content)}}
        <div class="uk-form-danger">{{form_errors(form.content)}}</div>
    </div>
    <div class="uk-width-1-2">
        <label class="uk-form-label" for="">Professeur</label>
        {{form_widget(form.professor)}}
        <div class="uk-form-danger">{{form_errors(form.professor)}}</div>
    </div>


    {{ form_widget(form) }}
    <div class="uk-margin">
        <button class="uk-button uk-button-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
</form>
{{ form_end(form) }}
