<div class="uk-position-top">
    <div class="uk-sticky uk-sticky-fixed" style="position:fixed;top:0px;" uk-sticky="sel-target: .uk-navbar-container;cls-active: uk-navbar-stiky;bottom: #sticky-dropbar-push">
        <nav class="uk-navbar-container uk-light" data-uk-navbar>
            <div class="uk-navbar-left">
                <div class="uk-navbar-item">
                    <a class="uk-logo brand" href="{{ path('dashboard')}}"><img alt="Logo dashboard" src="{{asset('img/dashboard.png')}}">Tableau de bord
                    </a>
                </div>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-visible@m">
                        <a data-uk-icon="home" href="{{path('home')}}"></a>
                    </li>
                    <li class="uk-visible@m">
                        <a href="{{ path('user_index')}}">Uilisateurs</a>
                    </li>
                    <li class="uk-visible@m">
                        <a href="{{path('member_index')}}">Elèves</a>
                    </li>
                    <li class="uk-visible@m">
                        <a href="{{path('admin_articles')}}">Articles</a>
                    </li>

                    <li class="uk-visible@m">
                        <a href="{{path('category_index')}}">Categories</a>
                    </li>
                    <li class="uk-visible@m">
                        <a href="{{path('admin_lessons')}}">Leçons</a>
                    </li>
                    <li class="uk-visible@m">
                        <a href="{{path('professor_index')}}">Professeurs</a>
                    </li>
                    <li class="uk-hidden@m">
                        <a class="uk-navbar-toggle" data-uk-navbar-toggle-icon data-uk-toggle href="#offcanvas-nav"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- OFFCANVAS -->
<div data-uk-offcanvas="flip: true; overlay: false" id="offcanvas-nav">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" data-uk-close type="button"></button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header">Tableau de bord</li>

            <li>
                <a data-uk-icon="home" href="{{path('home')}}"></a>
            </li>
            <li>
                <a href="{{path('user_index')}}">Utilisateurs</a>
            </li>
            <li>
                <a href="{{path('member_index')}}">Elèves</a>
            </li>
            <li>
                <a href="{{path('admin_articles')}}">articles</a>
            </li>

            <li>
                <a href="{{path('category_index')}}">Categories</a>
            </li>
            <li>
                <a href="{{path('admin_lessons')}}">Leçons</a>
            </li>
            <li>
                <a href="{{path('professor_index')}}">Professeurs</a>
            </li>
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header">Utilisateur</li>

            <li>
                <a href="{{ path('dashboard') }}"></a>
                <img class="uk-border-circle" height="80" data-src="{{app.user.image}}" width="80" alt="{{app.user.imageCaption}}" uk-img>
                <ul class="uk-nav uk-dropdown-nav uk-text-left">
                    <li>
                        <a href="{{ path('user_edit', {'id': app.user.id}) }}">
                            <span data-uk-icon="icon: refresh"></span>
                            Edit</a>
                    </li>
                    <li>
                        <a href="{{path('app_logout')}}">
                            <span data-uk-icon="icon: sign-out"></span>
                            Sign Out</a>
                    </li>
                </ul>

            </li>
        </ul>
    </div>
</div>
