{{ form_start(form) }}
<form action="">
    <fiedlset class="uk-fieldset">
        <div class="uk-margin">
            <label class="uk-form-label">Titre</label>
            {{ form_widget(form.title) }}
            <div class="uk-form-danger">
                {{form_errors(form.title)}}</div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Description</label>
            {{ form_widget(form.subTitle) }}
        </div>
        <hr class="uk-divider-icon">
        <div class="uk-child-width-1-2@s uk-margin" uk-grid>
            <div>
                <div>
                    <label class="uk-form-label">Jour</label>
                    {{ form_widget(form.dayLesson) }}
                </div>
            </div>
            <div>
                <div class="uk-child-width-1-2@s uk-grid-divider" uk-grid>
                    <div>
                        <label class="uk-form-label">Heure de début</label>
                        {{ form_widget(form.startHour) }}
                    </div>
                    <div>
                        <label class="uk-form-label">Heure de fin</label>
                        {{ form_widget(form.endHour) }}
                    </div>
                </div>
            </div>
        </div>
        <hr class="uk-divider-icon">

        <div class="uk-margin">
            <label class="uk-form-label">adresse</label>
            {{ form_widget(form.address) }}
        </div>

        <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>

            <div>
                <label class="uk-form-label">Code Postal</label>
                {{ form_widget(form.postCode) }}
            </div>
            <div>
                <label class="uk-form-label">Ville</label>
                {{ form_widget(form.city) }}
            </div>
        </div>
        <p>
            Coordonnées GPS pour l'affichage sur la carte
            <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
                <div>
                    <label class="uk-form-label">Lattitude</label>
                    {{ form_widget(form.lat) }}
                </div>
                <div>
                    <label class="uk-form-label">Longitude</label>
                    {{ form_widget(form.lon) }}
                </div>
            </div>


            <hr class="uk-divider-icon">
            <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
                <div>
                    <label class="uk-form-label">Dance</label>
                    {{ form_widget(form.dance)}}
                </div>
                <div>
                    <label class="uk-form-label">Tarif</label>
                    {{ form_widget(form.amount) }}
                </div>
            </div>
        </p>
    </fiedlset>
    {{ form_widget(form) }}
    <div class="uk-margin">
        <button class="uk-button uk-button-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
</form>
{{ form_end(form) }}
