{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}
    <h1>Lesson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>SubTitle</th>
                <th>DayLesson</th>
                <th>StartHour</th>
                <th>EndHour</th>
                <th>Duration</th>
                <th>Amount</th>
                <th>Address</th>
                <th>PostCode</th>
                <th>City</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>ImageCaption</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.title }}</td>
                <td>{{ lesson.slug }}</td>
                <td>{{ lesson.subTitle }}</td>
                <td>{{ lesson.dayLesson }}</td>
                <td>{{ lesson.startHour ? lesson.startHour|date('H:i:s') : '' }}</td>
                <td>{{ lesson.endHour ? lesson.endHour|date('H:i:s') : '' }}</td>
                <td>{{ lesson.duration }}</td>
                <td>{{ lesson.amount }}</td>
                <td>{{ lesson.address }}</td>
                <td>{{ lesson.postCode }}</td>
                <td>{{ lesson.city }}</td>
                <td>{{ lesson.createdAt ? lesson.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lesson.updatedAt ? lesson.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lesson.imageCaption }}</td>
                <td>
                    <a href="{{ path('lesson_show', {'id': lesson.id}) }}">show</a>
                    <a href="{{ path('lesson_edit', {'id': lesson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lesson_new') }}">Create new</a>
{% endblock %}
