{% extends 'base.html.twig' %}

{% block title %}Lesson{% endblock %}

{% block body %}
    <h1>Lesson</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lesson.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ lesson.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ lesson.slug }}</td>
            </tr>
            <tr>
                <th>SubTitle</th>
                <td>{{ lesson.subTitle }}</td>
            </tr>
            <tr>
                <th>DayLesson</th>
                <td>{{ lesson.dayLesson }}</td>
            </tr>
            <tr>
                <th>StartHour</th>
                <td>{{ lesson.startHour ? lesson.startHour|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndHour</th>
                <td>{{ lesson.endHour ? lesson.endHour|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ lesson.duration }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ lesson.amount }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ lesson.address }}</td>
            </tr>
            <tr>
                <th>PostCode</th>
                <td>{{ lesson.postCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ lesson.city }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ lesson.createdAt ? lesson.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ lesson.updatedAt ? lesson.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ImageCaption</th>
                <td>{{ lesson.imageCaption }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lesson_index') }}">back to list</a>

    <a href="{{ path('lesson_edit', {'id': lesson.id}) }}">edit</a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
