{% extends 'admin_base.html.twig' %}

{% block title %}prospect
{% endblock %}

{% block content %}
    <section
        class="uk-section">
        <!-- breadCrumb -->
        <div class="uk-container uk-margin">
            <ul class="uk-breadcrumb">
                <li>
                    <a href="{{path('home')}}">Home</a>
                </li>

                <li>
                    <a href="{{path('prospect_index')}}">Contacts</a>
                </li>
                <li>
                    <p>Contact:
                        <em>{{prospect.fullName}}</em>
                    </p>
                </li>
            </ul>
        </div>
        <!-- end of breadcrumb -->
        <div class="uk-container">
            <h1>Correspondance Email</h1>

            <div class="uk-card uk-card-default ">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">{{prospect.fullName}}</h3>
                            <p class="uk-text-meta">
                                <time datetime="2016-04-01T19:00">Enregistré le
                                    {{prospect.createdAt|date('d M Y')}}
                                    &nbsp; à
                                    {{prospect.createdAt|date('H:i')}}</time>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <a href="mailto:{{prospect.email}}?subject=Dance Attitude Bréal sous montfort _ Réponse à votre demande">
                        <p uk-tooltip="title: Repondre à {{prospect.email}};pos: left">{{prospect.email}}</p>
                    </a>
                    <p>Sujet de l'email :
                        {{prospect.subject}}</p>
                    <p>Contenu de l'email:</p>
                    <p>{{prospect.content|raw}}</p>
                </div>
                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-grid-divider uk-child-width-auto" uk-grid>
                        <div>
                            <a class="uk-button uk-button-text" href="{{ path('prospect_index') }}">retour à la liste</a>
                        </div>
                        <div>
                            <a class="uk-button uk-button-link" href="mailto:{{prospect.email}}?subject=Dance Attitude Bréal sous monfort" uk-icon="icon: mail" uk-tooltip="title: Répondre à {{prospect.fullName}}"></a>
                        </div>
                        <div>
                            <a href=" #delete-confirm" uk-toggle>
                                <span uk-icon=" icon: trash" uk-tooltip="title: Supprimer"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ include('prospect/_delete_form.html.twig')}}
{% endblock %}
