{% extends 'admin_base.html.twig' %}

{% block title %}prospect
{% endblock %}

{% block content %}
    <section class="uk-section">
        <h1>Correspondance Email</h1>
        <div class="uk-container">
            <div class="uk-card uk-card-default ">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">{{prospect.fullName}}</h3>
                            <p class="uk-text-meta uk-margin-remove-top">
                                <time datetime="2016-04-01T19:00">Enregistré le
                                    {{prospect.createdAt|date('d M Y')}}
                                    &nbsp; à
                                    {{prospect.createdAt|date('H:i')}}</time>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>Sujet de l'email :
                        {{prospect.subject}}</p>
                    <p>Contenu de l'email:</p>
                    <p>{{prospect.content|raw}}</p>
                </div>
                <div class="uk-card-footer">
                    <div class="uk-grid-small uk-grid-divider uk-child-width-auto" uk-grid>
                        <div>
                            <a class="uk-button uk-button-text" href="{{ path('prospect_index') }}">back to list</a>
                        </div>
                        <div>
                            <a class="uk-button uk-button-link" href="{{ path('prospect_edit', {'id': prospect.id}) }}" uk-icon="icon: file-edit"></a>
                        </div>
                        <div>
                            <a href="#delete-confirm" uk-toggle>
                                <span uk-icon="icon: trash"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ include('prospect/_delete_form.html.twig')}}
{% endblock %}
