{% extends 'admin_base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block content %}
    <section
        class="uk-section">
        <!-- breadCrumb -->
        <div class="uk-container uk-margin">
            <ul class="uk-breadcrumb">
                <li>
                    <a href="{{path('home')}}">Home</a>
                </li>

                <li>
                    <a href="{{path('user_index')}}">Utilisateurs</a>
                </li>
                <li>
                    <p>Utilisateur:
                        <em>{{user.pseudo}}</em>
                        _ Modification
                    </p>
                </li>
            </ul>
        </div>
        <!-- end of breadcrumb -->

        <div class="uk-container uk-margin-top">
            <h1 class="uk-heading-line uk-text-center">
                Modification d'un utilisateurs</h1>
        </div>
        <div class="uk-container uk-margin-top uk-container-small">
            {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

            <div class="uk-grid uk-grid-small uk-grid-divider uk-margin-top uk-margin-bottom" uk-grid>
                <div>
                    <a class="uk-button uk-button-text" href="{{ path('user_index') }}">
                        <span uk-icon="icon: arrow-left"></span>
                        retour à la liste</a>
                </div>
                <div>
                    <a href="#delete-confirm" uk-toggle>
                        <span uk-icon="icon: trash"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {{ include('user/_delete_form.html.twig')}}

{% endblock %}
