{% extends 'admin_base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block content %}
    <section class="uk-section">
        <div class="uk-container">
            <h1>User index</h1>
            <div class="uk-float-right">
                <a class="uk-button uk-button-primary" href="{{ path('user_new') }}">Create new</a>
            </div>
            <table class="uk-table uk-table-hover">
                <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Pseudo</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td><img class="uk-border-circle" data-src="{{ user.image|raw}}" alt="avatar de l'utilisateur" width="60" uk-img></td>
                            <td></td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            <td>{{ user.pseudo }}</td>
                            <td>
                                <a href="{{ path('user_show', {'id': user.id}) }}">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a class="uk-button uk-button-link" href="{{ path('user_edit', {'id': user.id}) }}" uk-icon="icon:file-edit"></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
