{% extends 'admin_base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block content %}
    <section class="uk-section">
        <div class="uk-container">
            <h1>Liste des utilisateurs</h1>
            <div class="uk-float-right">
                <a class="uk-button uk-button-primary" href="{{ path('user_new') }}">Create new</a>
            </div>
            <table class="uk-table uk-table-hover">
                <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Pseudo</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td><img class="uk-border-circle" data-src="{{ user.image|raw}}" alt="{{user.imageCaption}}" width="60" uk-img></td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles |json_encode  }}</td>
                            <td>{{ user.pseudo }}</td>
                            <td>
                                <div class="uk-grid-small uk-grid-divider" uk-grid>
                                    <a class="uk-button uk-button-link" href="{{ path('user_edit', {'id': user.id}) }}" uk-icon="icon:file-edit" uk-tooltip="title: Modifier {{user.pseudo}}"></a>
                                    <a href="#delete-confirm" uk-toggle>
                                        <span uk-icon="icon: trash" uk-tooltip="title: Supprimer {{user.pseudo}}"></span>
                                    </a>
                                </div>
                                {{ include('user/_delete_form.html.twig')}}


                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
